
@media (min-width: 900px) {
    .hamburger-menu--active {
        opacity: 0;
        display: none;
    }
}
@media (max-width: 1200px) {
    .nav-items{
        width: 45rem;
    }
    .theme-switch-wrapper{
      transform: scale(0.8);
    }
    .header-content{
       flex-direction: column-reverse;
    }
    .header-content_text{
        text-align: center;
    }
    .header-title{
        line-height:  clamp(5rem,4.5vw,6.3rem);
        font-size: clamp(3rem,3vw,4.3rem) ; 
    }
    .header-text{
        line-height: clamp(2.6rem,2.7vw,4rem);
        font-size: clamp(1.8rem,1.5vw,3.2rem);
    }
    .header-btns{
        justify-content: center;
    }
    .header-btn-blue{
        width: 25rem;
        height: 6.3rem;
    }
    .header-btn-text{
        font-size: 1.7rem;
    }
    .header-btn-white{
        width: 25rem;
        height: 6.3rem;
    }
    .header-content_image{
        width: clamp(45rem,50vw,60rem);
    }
    .better-experience__boxes{
        margin-top: 5rem;
    }
    .footerCols{
        width: calc(100% - 42rem);
        gap: clamp(1rem,2vw,5rem);
        
    }
}

@media (max-width: 1024px) {
    body{
        font-size: 1.4rem;
    }
    .nav-items{
        width: 40rem;
    }
    .better-experience__boxes{
        gap: 1.5rem;
        margin-top: 4.5rem;
    }
    .better-experience__box{
        padding: 1rem 1.5rem;
    }
}

@media (min-width: 900px) {
    .hamburger-menu--active {
        opacity: 0;
        display: none;
    }
}

@media (max-width: 900px) {
    .menu-toggle{
        display: flex;
    }
    .nav-items{
        display: none;
    }
    .Login-btn{
        display: none;
    }

    .better-experience__boxes{
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.5rem;
        margin-bottom: 5rem;
        margin-top: 3rem;
    }
    .better-experience__box{
        margin-bottom: 0;
        width: 23rem;
        padding: 2rem;
    }
    .better-experience__box-svg{
        padding: 0.5rem;
    }
    
    /* ============================================================
    Footer
  ============================================================ */


  .footer-newsletter__text h3 {
    font-size: 2.2rem;
   }
 
   .footer-newsletter__form {
     padding: 0.5rem 0.7rem;
   }
 
   .footerCols{
     width: 100%;
     justify-content: center;
     gap: 0;
   }
 
   .footer-col--about {
     min-width: 80%;
     text-align: center;
     margin-right: auto;
     margin-left: auto;
    }
   
   .footer-col--about h2 {
     font-size: 1.8rem;
   }
 
   .footer-col__title {
     font-size: 1.8rem;
   }
}


@media (max-width: 835px) {
   

 .footer-newsletter__inner {
  justify-content: center;
 }

 .footer-newsletter__text{
   width: 100%;
   text-align: center;
 }


 .footer-newsletter__form {
   width: 100%;
   justify-content: space-between;
 }

 

 .footer-col--about h2 {
   font-size: 2.2rem;
 }


 .footer-col{
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 25rem;
 }

 
 .footer-logo-badge {
   width: 4rem;
   height: 4rem;
 }

 

 .social-link {
  width: 3.5rem;
  height: 3.5rem;
 }

 
}


@media (max-width: 768px) {
    .header-btns{
        flex-wrap: wrap;
    }
    .footer-newsletter {
        padding: 20px 20px;
      }
      .footer-newsletter__inner {
        flex-direction: column;
        align-items: flex-start;
      }

      .footer-newsletter__form {
        width: 100%;
      }

      .footer-newsletter__input {
        width: 100%;
        flex: 1;
      }

      .footer-main {
        padding: 32px 20px;
      }

      .footer-main__inner {
        flex-direction: column;
        gap: 32px;
      }

      .footerCols{
        margin-top: 4rem;
      }

      .footer-col--about {
        max-height: 8rem;
      }

      .footer-bottom {
        padding: 20px;
      }

      .footer-bottom__inner {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
      }

      .footer-bottom__right {
        align-items: center;
      }
}

@media (max-width: 540px) {
    .footer-col--about h2{
        font-size: 2rem;
    }

    .footer-col--about p{
        font-size: 1.2rem;
    }

    .footer-col__title{
        font-size: 1.6rem;
    }
}

@media (max-width: 480px) {
    summary { padding: 15px 18px; }
    .faq-content { padding: 0 18px 18px 18px; }
}
